@import url(./variables.css);

.modal{
    background-color: var(--background--color-terca);
    width: 100%;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.content__modal{
    background-color: var(--color--text-primary);
    width: 40%;
    max-width: 350px;
    height: 30%;
    max-height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.modal__show{
    opacity: 1;
    pointer-events: unset;
    text-align: center;
}

.modal__text{
    font-family: var(--fontFamily-primary);
    font-size: 14px;
    font-weight: bold;
}